@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #ac32e4;
	background: linear-gradient(to right, #ac32e4, #7918f2, #4801ff);
}

.container {
	display: flex;
	width: 100%;
	gap: 10px;
	padding: 10px;
	max-width: 1050px;
}

section {
	background-color: #ffff;
}

.title {
	text-transform: uppercase;
}

.tools-board {
	width: 210px;
	padding: 15px 22px 0;
}

.tools-board .row {
	margin-bottom: 20px;
}

.row .figures {
	list-style: none;
	margin: 10px 0 0 5px;
}

.row .figures .option {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-bottom: 10px;
}

.row .option .option:is(:hover, .active) img {
	filter:
		invert(17%),
		sepia(90%),
		saturate(3000%),
		hue-rotate(900deg),
		brightness(100%) contrast(100%);
}
