@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #ac32e4;
	background: linear-gradient(to right, #ac32e4, #7918f2, #4801ff);
}

.container {
	display: flex;
	width: 100%;
	gap: 10px;
	padding: 10px;
	max-width: 1050px;
}

section {
	background-color: #ffff;
}

.title {
	text-transform: uppercase;
}

.tools-board {
	width: 210px;
	padding: 15px 22px 0;
}
